{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "The main purpose of this is to help Web Developers to serve\nimages in the best possible way meaning balance between\nquality and speed.\n\nEach endpoint could be used directly in `\u003cimg\u003e` and `\u003cpicture\u003e` HTML tags",
    "title": "Image transformations API",
    "version": "2.1"
  },
  "host": "pixboost.com",
  "basePath": "/api/2/",
  "paths": {
    "/img/{imgUrl}/asis": {
      "get": {
        "description": "Respond with original image without any modifications",
        "produces": [
          "image/png",
          "image/jpeg"
        ],
        "tags": [
          "images"
        ],
        "operationId": "asisImage",
        "parameters": [
          {
            "type": "string",
            "description": "Url of the original image including schema. Note that query parameters need to be properly encoded\n",
            "name": "imgUrl",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Requested image."
          }
        }
      }
    },
    "/img/{imgUrl}/fit": {
      "get": {
        "description": "If you need to resize image with preserved aspect ratio then use /resize endpoint.",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/webp",
          "image/avif"
        ],
        "tags": [
          "images"
        ],
        "summary": "Resizes, crops, and optimises an image to the exact size.",
        "operationId": "fitImage",
        "parameters": [
          {
            "type": "string",
            "description": "Url of the original image including schema. Note that query parameters need to be properly encoded\n",
            "name": "imgUrl",
            "in": "path",
            "required": true
          },
          {
            "pattern": "\\d{1,4}x\\d{1,4}",
            "type": "string",
            "description": "size of the image in the response. Should be in the format 'width'x'height', e.g. 200x300\n",
            "name": "size",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "off",
              "hide"
            ],
            "type": "string",
            "description": "Sets an optional behaviour when Save-Data header is \"on\". When passing \"off\" value the result image won't use extra compression when data saver mode is on. When passing \"hide\" value the result image will be an empty 1x1 image. When absent the API will use reduced quality for result images.\n",
            "name": "save-data",
            "in": "query"
          },
          {
            "type": "number",
            "format": "float",
            "default": 1,
            "description": "Number of dots per pixel defines the ratio between device and CSS pixels. The query parameter is a hint that enables extra optimisations for high density screens. The format is a float number that's the same format as window.devicePixelRatio.\n",
            "name": "dppx",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Resized image"
          }
        }
      }
    },
    "/img/{imgUrl}/optimise": {
      "get": {
        "produces": [
          "image/png",
          "image/jpeg",
          "image/webp",
          "image/avif"
        ],
        "tags": [
          "images"
        ],
        "summary": "Optimises image from the given url.",
        "operationId": "optimiseImage",
        "parameters": [
          {
            "type": "string",
            "description": "Url of the original image including schema. Note that query parameters need to be properly encoded\n",
            "name": "imgUrl",
            "in": "path",
            "required": true
          },
          {
            "enum": [
              "off",
              "hide"
            ],
            "type": "string",
            "description": "Sets an optional behaviour when Save-Data header is \"on\". When passing \"off\" value the result image won't use extra compression when data saver mode is on. When passing \"hide\" value the result image will be an empty 1x1 image. When absent the API will use reduced quality for result images.\n",
            "name": "save-data",
            "in": "query"
          },
          {
            "type": "number",
            "format": "float",
            "default": 1,
            "description": "Number of dots per pixel defines the ratio between device and CSS pixels. The query parameter is a hint that enables extra optimisations for high density screens. The format is a float number that's the same format as window.devicePixelRatio.\n",
            "name": "dppx",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Optimised image."
          }
        }
      }
    },
    "/img/{imgUrl}/resize": {
      "get": {
        "description": "Use /fit operation for resizing to the exact size.",
        "produces": [
          "image/png",
          "image/jpeg",
          "image/webp",
          "image/avif"
        ],
        "tags": [
          "images"
        ],
        "summary": "Resizes, optimises image and preserve aspect ratio.",
        "operationId": "resizeImage",
        "parameters": [
          {
            "type": "string",
            "description": "Url of the original image including schema. Note that query parameters need to be properly encoded\n",
            "name": "imgUrl",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Size of the result image. Should be in the format 'width'x'height', e.g. 200x300\nOnly width or height could be passed, e.g 200, x300.\n",
            "name": "size",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              "off",
              "hide"
            ],
            "type": "string",
            "description": "Sets an optional behaviour when Save-Data header is \"on\". When passing \"off\" value the result image won't use extra compression when data saver mode is on. When passing \"hide\" value the result image will be an empty 1x1 image. When absent the API will use reduced quality for result images.\n",
            "name": "save-data",
            "in": "query"
          },
          {
            "type": "number",
            "format": "float",
            "default": 1,
            "description": "Number of dots per pixel defines the ratio between device and CSS pixels. The query parameter is a hint that enables extra optimisations for high density screens. The format is a float number that's the same format as window.devicePixelRatio.\n",
            "name": "dppx",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Resized image."
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "auth",
      "in": "query"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ]
}